.cm-main-section h2 {
    margin-left: 25px;
    margin-top: 15px;
}

.cm-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cm-section input {
    height: 25px;
    padding-left: 5px;
    margin-top: 15px;
    width: 35vw;
    margin-left: 15px;
}

.cm-section button {
    background-color: green;
    color: white;
    margin-top: 15px;
    height: 25px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 25px;
    padding: 5px;
    line-height: 13px;
}

.cm-section button:hover {
    background-color: darkgreen;
    cursor: pointer;
}