.sign-in-section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.sign-in {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 45vh;
    width: 325px;
    padding: 50px;
    align-items: center;
    border-radius: 25px;
    border-style: solid;
    border-color: darkgray;
    margin-top: 25px;
}

.sign-in h2 {
    margin-top: 25px;
}

.sign-in h3 {
    color: red;
}

.sign-in input {
    height: 30px;
    width: 250px;
    margin-top: 25px;
    padding-left: 5px;
}

.sign-in button {
    margin-top: 75px;
    background-color: green;
    color: white;
    height: 40px;
    width: 125px;
    font-size: 16px;
    border-style: solid;
    border-color: darkgray;
}

.sign-in button:hover {
    cursor: pointer;
    background-color: darkgreen;
}