.md-main-section h2 {
    margin-left: 25px;
    margin-top: 25px;
}

.md-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.md {
    width: 90vw;
    height: 25vh;
    background-color: rgb(83, 83, 83);
    margin-top: 15px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.md button {
    position: fixed;
    right: 7vw;
    background-color: green;
    color: white;
    height: 25px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 25px;
    padding: 5px;
    line-height: 13px;
}

.md button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.memberDiv {
  position: relative;
  left: calc(50% - 225px);
  width: 35vw;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #000;
  border-radius: 15px;
}

.memberDiv button {
  position: absolute;
  right: 0.5vw;
  top: 0.5vh;
}

.memberDiv h4 {
  margin-left: 50px;
}

.nameDiv ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nameDiv h2 {
  padding: 0;
  margin: 8px;
  margin-left: 15px;
}

.nameDiv h5 {
  margin: 13px;
}
